
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
<div id="main-wrapper" class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0">
        <div class="card-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-6 d-none d-lg-inline-block">
              <div class="account-block rounded-right">
                <div class="overlay rounded-right"></div>
                <div class="account-testimonial">
                  <h4 class="text-white mb-4">
                    Félicitations pour avoir choisi notre site d'allocation immobilière !                      </h4>
                  <p class="lead text-white">
                    "Une décision judicieuse pour maximiser vos rendements immobiliers."
                  </p>
                  <p>- Admin </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 cadrelog">
              <div class="p-5">
                <div class="mb-2">
                  <h3 class="h4 font-weight-bold text-theme">Register</h3>
                </div>
                <h6 class="h5 mb-3">Welcome !</h6>
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nom & prenom</label>
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                    />
                  </div>
                  <div class="form-group mb-5">
                    <label for="exampleInputPassword1">Mail</label>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>
                  <button
                    type="submit"
                    class="btn btn-theme"
                    style="float: right"
                  >
                    Register
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p class="text-muted text-center mt-3 mb-0">
        Don't have an account?
        <a  class="text-primary ml-1">register</a>
      </p>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>

